@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

.card {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 0px 0px 3px;
    background-color: #ccc;
}
.card__media img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
footer a:hover {
    background-color: black;
}
footer a:hover {
    background-color: black;
    color: #d9c2a3;
}
.icon {
    height: 80px;
    width: 80px;
}
footer h3 a:hover {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
h1 {
    color: fuchsia;
}

.social {
    width: 48px;
    position: fixed;
    top: 50px;
    right: 0;
}
h2 {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}
body {
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
}