#background {
    height: 725px;
    width: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.icon {
    height: 80px;
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    