#background {
    height: 725px;
    width: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
footer a:hover {
    background-color: black;
}
footer a:hover {
    background-color: black;
    color: #d9c2a3;
}
.icon {
    height: 80px;
    width: 80px;
}
footer h3 a:hover {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
h1 {
    color: fuchsia;
}

.social {
    width: 48px;
    position: fixed;
    top: 50px;
    right: 0;
}
h2 {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}
body {
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
}